<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 shadow-sm p-5">
        <div class="text-center mb-4">
          <h2 class="fw-bold">C'est quoi « le 47 » ?</h2>
        </div>

        <p>Le 47, ce n’est pas un espace de coworking. Ni une entreprise, une coopérative ou une association.</p>

        <p>Le 47, c'est tout d’abord un lieu, situé au 47 boulevard de Sébastopol à Paris. Mais c’est surtout l'espace
          d'une communauté de personnes qui s'entraident dans le but de soutenir leurs causes communes.</p>

        <p>C’est un lieu vivant et autonome, au sein duquel des êtres humains partageant des valeurs communes, viennent expérimenter une permaculture humaine : on peut y venir travailler, juste passer, rencontrer des
          personnes partageant une même vision du monde, avec l'intention de prendre soin de chacun et de ce lieu précieux.</p>

        <p>On y parle de créer un lieu de travail qui casse les silos, où les gens ne travaillent pas côte-à-côte mais ensemble, grâce à la coopération et à l’intelligence collective. On y parle de créer une nouvelle économie où la valeur n’est pas que financière mais aussi
          immatérielle, faite d’échanges, de confiance, d’émotions et de connaissances, et où chacun contribue à sa juste mesure. </p>

        <p>C’est un lieu dans lequel la volonté d’améliorer le monde et l’engagement ne sont pas que des mots. Les nouveaux entrants sont
          d’ailleurs invités à compléter un document dans lequel il partage leurs causes, ce en quoi ils croient, ce pour quoi ils s’engagent.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_1_texte.png", style: "max-width: 100%; height: auto;" %>
        </div>


        <p>Le 47 c’est aussi un terreau d'expérimentation pour faire société autrement. Une forme de laboratoire permettant de tester de nouvelles façons de faire,
           d’autres manières de travailler et d’être ensemble, à travers la coopération, l’auto-gestion et l’ouverture à l’émergence.  </p>

        <p>Ce qu’en disent les habitués du lieu :</p>
        <ul>
            <li>« Je m’y sens mieux qu’à la maison : j’apprends à être moi-même »</li>
            <li>« Un lieu d’expérimentation sociale, montrer qu’une autre économie est possible »</li>
            <li>« Tout est possible au 47 : on peut y faire nos premières fois, même avec peu de moyens »</li>
            <li>« Incarner le monde dans lequel je veux vivre »</li>
        </ul>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_2_texte.jpeg", style: "max-width: 100%; height: auto;" %>
        </div>

        <div class="text-center mb-4">
          <h3 class="fw-bold">Concrètement : qu’est-ce qui se passe au 47 ?</h3>
        </div>
        <h2>Espace de travail</h2>
        <p>Beaucoup de personnes viennent en journée pour travailler, faire une réunion, ou prendre un café. Il y a 3 grandes salles de travail, des salles dédiées aux vidéoconférences et un salon.</p>

        <h2>Événements réguliers</h2>
        <p>Il y a de nombreux événements ayant lieu à l'appartement. Parmi les événements réguliers :</p>
        <ul>
            <li><strong>Share & Care</strong> : une lunch hebdomadaire les mardis (de 13 à 14h). C'est un peu comme un cercle de parole où chacun.e est invité.e à parler de ses enjeux du moment.</li>
            <li><strong>Help & Care</strong> : un atelier de co-développement mensuel, où plusieurs membres de la communauté se mettent au service d'un projet.</li>
            <li><strong>Stand & Care</strong> : un échange (dont la fréquence reste encore à définir) où l'on se réunit pour discuter des meilleures manières de prendre soin du lieu et du collectif.</li>
        </ul>

        <h2>Événements en soirée</h2>
        <p>Il y a également toute une série d'événements en soirée :</p>
        <ul>
            <li>Conférences</li>
            <li>Dîners</li>
            <li>Apéros</li>
            <li>Rassemblements de communautés</li>
        </ul>

        <h2>Privatisations</h2>
        <p>Certaines parties ou l'entièreté de l'espace sont également "privatisées", de temps en temps, pour recevoir :</p>
        <ul>
            <li>Formations</li>
            <li>Séminaires</li>
            <li>Animations</li>
        </ul>

        <h2>Activités diverses</h2>
        <p>Il n'y a pas de limite quant au type d'activités organisables au 47. On y a déjà vu :</p>
        <ul>
            <li>Soirées cabaret salon</li>
            <li>Ateliers yoga du rire</li>
            <li>Soirées dansantes</li>
        </ul>
        <p>En bref, on fait ce qu'on veut de l'espace, tant que cela ne froisse pas les parties prenantes et que ça ne met pas en péril la raison d’être de ces parties prenantes.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_3_texte.jpeg", style: "max-width: 100%; height: auto;" %>
        </div>

        <h2>Qui peut venir au 47 ?</h2>
        <p>Les personnes qui viennent sont celles qui ont été invitées par des membres de la communauté et qui se sentent appelées par nos causes et valeurs communes.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_4_texte.png", style: "max-width: 100%; height: auto;" %>
        </div>

        <p>On y retrouve typiquement des coachs et entrepreneurs parfois avec leurs équipes, des indépendants, souhaitant se mettre au service de la transition ou des personnes en transition personnelle ou professionnelle. </p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_5_texte.jpeg", style: "max-width: 100%; height: auto;" %>
        </div>

        <h3>Quel est le modèle de gestion du lieu ?</h3>
        <p>Le 47 est un lieu « auto-géré » par la communauté elle-même. C'est un peu ce que certain.e.s pourraient appeler une "Do-ocracy". En bref, c'est celui ou celle qui fait, qui décide.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_6_texte.png", style: "max-width: 100%; height: auto;" %>
        </div>

        <h2>Le processus de proposition et de décision</h2>

        <p>La seule obligation pour cette personne est d'effectuer un partage d'intention, ce qui implique de consulter :</p>
        <ul>
            <li>Les personnes dites "expertes" à propos du sujet en question</li>
            <li>Les personnes dites "impactées"</li>
        </ul>
        <p>Elle va répondre aux demandes de clarifications, propositions de bonification ou objections qui émergent suite à la proposition. </p>

        <p>S’il n’a pas ou plus d’objection à fin du processus de consultation, la personne est libre de mettre en œuvre son initiative.</p>

        <h2>Structure organisationnelle</h2>
        <p>Il n'y a :</p>
        <ul>
            <li>Ni conseil d'administration</li>
            <li>Ni assemblées générales</li>
            <li>Pas d'employés</li>
            <li>Pas de managers ou de titres</li>
        </ul>

        <h2>Fonctionnement pratique</h2>
        <p>Simplement des personnes qui échangent dans des espaces :</p>
        <ul>
            <li>Dans le couloir entre 2 réunions</li>
            <li>Sur notre outil de communication Slack sur des canaux comme "47-général"</li>
        </ul>

        <h2>Les modalités de contribution</h2>
        <p>Au 47, on expérimente également la notion de “contribution juste”.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_8_texte.png", style: "max-width: 100%; height: auto;" %>
        </div>

        <p>On nous demande souvent "Combien devrais-je payer pour bénéficier d’un espace ?". La réponse qui ennuie parfois est qu'il n'y a pas de tarif prédéfini. Pas non plus de "tarif par soirée" ou de tarif "demi-journée atelier" pour des personnes souhaitant organiser un événement dans une ou plusieurs des pièces de l'appartement.</p>

        <p>Chaque personne est plutôt invitée à considérer :</p>
        <ul>
            <li>L'utilisation finale qu'elle aura eu de l'espace</li>
            <li>Ses moyens financiers</li>
            <li>La valeur que l'espace lui apporte</li>
            <li>Ses contributions en flux non-marchands</li>
            <li>Son niveau d'adhésion au projet et aux causes</li>
            <li>Notre situation financière du moment</li>
        </ul>

        <p>Suite à cette réflexion, la personne choisit son niveau de contribution et participe librement à la cagnotte.</p>
        <p>Le montant peut-être évolutif et il n'y a ni engagement, ni contrat. Tout se fait sur base de la confiance. Chaque contribution financière (digitale) est visible publiquement depuis notre outil "Open Collective" ainsi que dans le canal "participation-conscientes" de notre Slack.</p>

        <p>Chacun.e est également invité.e à contribuer sous forme de flux-non marchand, a minima en :</p>
        <ul>
            <li>Prenant soin du lieu</li>
            <li>Rangeant derrière soi</li>
            <li>Descendant les poubelles</li>
            <li>Étant à l'écoute des autres</li>
            <li>Etc.</li>
        </ul>

        <h2>Comment aller plus loin ?</h2>
        <p>Tu te sens aligné.e avec les causes et les valeurs mentionnées ci-dessus ? Si c'est le cas, et que tu souhaites venir nous rencontrer tu peux :</p>
        <ul>
            <li>Venir travailler une journée au 47 et voir comment tu t'y sens, ou simplement venir prendre un café/thé</li>
            <li>Venir rencontrer des personnes de la communauté lors de notre déjeuner hebdomadaire "Share & Care" (tous les mardi de 13 à 14h)</li>
            <li>Venir à un événement organisé au 47</li>
        </ul>

        <h2>Autres façons de contribuer</h2>
        <ul>
            <li>Tu souhaites contribuer financièrement ? Plus d'informations via <%= link_to 'ce lien', 'https://opencollective.com/le-47', target: :blank %></li>
            <li>Tu souhaites contribuer de manière non financière ? Demande aux personnes venant régulièrement quels sont les besoins du moment !</li>
        </ul>


      </div>
    </div>
  </div>
</div>
