<div class="col-md-4 mb-4">
  <div class="card shadow border-0" style="background-color: white;">
    <div class="card-body">
      <% if user_signed_in? %>
        <% if current_user.favori_offres.include?(offre) %>
          <%= button_to offre_favori_path(offre), method: :delete, class: 'btn heart-btn' do %>
            <i class="fa-solid fa-heart text-danger" data-bs-toggle="tooltip" title="Retirer des favoris"></i>
          <% end %>
        <% else %>
          <%= button_to offre_favori_path(offre), method: :post, class: 'btn heart-btn' do %>
            <i class="fa-solid fa-heart" data-bs-toggle="tooltip" title="Ajouter aux favoris"></i>
          <% end %>
        <% end %>
      <% end %>
      <h5 class="card-title">
        <%= offre.titre %>
      </h5>
      <p class="card-text text-muted">
        <%= offre.intervenant %>
      </p>
      <div class="d-flex justify-content-between align-items-center mt-auto">
        <strong>
          <%= offre.date_prevue %>
        </strong>
        <%= link_to 'Voir plus', offre_path(offre), class: 'btn btn-primary btn-sm mt-2' %>
      </div>
    </div>
  </div>
</div>
