<div class="col-sm-6 col-md-4 mb-4">
  <%= link_to fournisseur_path(fournisseur), class: "text-decoration-none" do %>
    <div class="card person-card h-100 d-flex flex-column" style="box-shadow: 0 4px 6px rgba(146, 130, 105, 0.3);">
      <%# Image %>
      <div class="person-card-img-wrapper">
        <% if fournisseur.user&.image&.attached? %>
          <%= image_tag fournisseur.user.image, class: "person-card-img" %>
        <% elsif fournisseur.image.attached? %>
          <%= image_tag fournisseur.image, class: "person-card-img" %>
        <% else %>
          <%= image_tag "placeholder_person.png", class: "person-card-img" %>
        <% end %>
      </div>

      <div class="card-body d-flex flex-column">
        <%# Card content %>
        <h5 class="card-title text-dark"><%= fournisseur.name %></h5>

        <%# Description with line clamp moved to CSS %>
        <p class="card-text line-clamp flex-grow-1 text-muted">
          <%= truncate(fournisseur.bio, length: 150, separator: ' ', omission: '...') %>
        </p>

        <%# Footer %>
        <div class="d-flex justify-content-end align-items-center mt-auto">
          <span class='btn btn-outline-primary btn-sm'>
            Voir plus <i class="fa-solid fa-arrow-right ms-2"></i>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
