<div class="sponsors-section py-5">
  <h2 class="text-center mb-5">Nos Sponsors</h2>

  <div class="container">
    <!-- Premium Sponsors -->
    <div class="row g-4 justify-content-center align-items-center mb-5">
      <div class="col-lg-3 col-md-6 col-6">
        <%= link_to "https://officience.com/", target: :_blank do %>
          <%= image_tag "logo_officience.png", class: "rounded-3 img-fluid sponsor-img premium" %>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <%= link_to "https://www.broster.fr/", target: :_blank do %>
          <%= image_tag "logo_broster.png", class: "rounded-3 img-fluid sponsor-img premium" %>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <%= image_tag "logo_element.png", class: "rounded-3 img-fluid sponsor-img premium" %>
      </div>
      <div class="col-lg-3 col-md-6 col-6">
        <%= link_to "https://www.etikamondo.com/", target: :_blank do %>
          <%= image_tag "logo_etika.jpeg", class: "rounded-3 img-fluid sponsor-img premium" %>
        <% end %>
      </div>
    </div>

    <!-- Regular Sponsors -->
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-md-4 col-6">
        <%= link_to "https://www.linkedin.com/company/ludofablab/?originalSubdomain=fr", target: :_blank do %>
          <%= image_tag "logo_ludo.png", class: "rounded-3 img-fluid sponsor-img regular" %>
        <% end %>
      </div>
      <div class="col-md-4 col-6">
        <%= image_tag "logo_ecumm.png", class: "rounded-3 img-fluid sponsor-img regular" %>
      </div>
      <div class="col-md-4 col-6">
          <%= link_to "https://agencedesnouveauxvoyages.com/", target: :_blank do %>
            <%= image_tag "logo_agence.png", class: "rounded-3 sponsor-img regular logo-agence" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
