<%# banner with screen wide image %>
<div class="container-fluid p-0">
  <div class="hero-banner position-relative">
    <%= image_tag "festival_banner.jpg", class: "w-100", alt: "Banner" %>
    <div class="position-absolute top-50 start-50 translate-middle text-center text-black">
      <h1 class="display-3 fw-bold">Billeterie du Festival</h1>
      <p class="lead">Réservez vos ateliers favoris</p>
    </div>
  </div>

  <%# card 1 %>
  <div class="container my-5">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card h-100 shadow-sm hover-card">
          <%= image_tag "festival_banner.jpg", class:"card-img-top", alt:"Card 1" %>
          <div class="card-body">
            <h5 class="card-title">Programme</h5>
            <p class="card-text">Placeholder text</p>
            <%= link_to 'Voir le programme', programme_path, class: 'btn btn-primary stretched-link' %>
          </div>
        </div>
      </div>

  <%# card 2 %>
      <div class="col-md-4">
        <div class="card h-100 shadow-sm hover-card">
          <%= image_tag "festival_banner.jpg", class:"card-img-top", alt:"Card 2" %>
          <div class="card-body">
            <h5 class="card-title">Intervenants</h5>
            <p class="card-text">Placeholder text</p>
            <%= link_to 'Rencontrez les intervenants', fournisseurs_path, class: 'btn btn-primary stretched-link' %>
          </div>
        </div>
      </div>

  <%# card 3 %>
      <div class="col-md-4">
        <div class="card h-100 shadow-sm hover-card">
          <%= image_tag "festival_banner.jpg", class:"card-img-top", alt:"Card 3" %>
          <div class="card-body">
            <h5 class="card-title">Lieu</h5>
            <p class="card-text">Placeholder text</p>
            <%= link_to 'Découvrez le lieu', lieu_path, class: 'btn btn-primary stretched-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
