<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 shadow-sm p-5">
        <div class="text-center mb-4">
          <h2 class="fw-bold">C'est quoi le 47</h2>
        </div>

        <p>Tu découvres la communauté du 47 ou tu cherches à mieux comprendre ce lieu atypique ?</p>

        <p>En voici ma description, très personnelle, de cette incroyable initiative.</p>

        <h2>Qu'est-ce que le 47 ?</h2>
        <p>En très bref, le 47 c'est l'espace d'une communauté.</p>
        <p>Une communauté de personnes qui s'entraident dans le but de soutenir leurs causes communes.</p>

        <h2>Les Causes</h2>
        <p>Les réguliers du 47 sont invités à partager leurs causes dans ce document.</p>
        <p>Une fois ces causes listées, on regarde nos causes communes et on affiche celles qui reviennent le plus souvent. Ça finit par ressembler à ce dessin ci-dessous et on essaie de le mettre à jour au moins une fois par an.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_1_texte.png", style: "max-width: 100%; height: auto;" %>
        </div>

        <h2>Comment identifier tes causes ?</h2>
        <p>Si tu veux nous rejoindre et qu'identifier tes causes est un exercice difficile pour toi, voici quelques questions d'introspection :</p>
        <ul>
            <li>Pour quelles causes serais-tu prêt.e à aller manifester ?</li>
            <li>Quels sont les sujets de société que tu serais prêt.e à défendre corps et âme dans des débats en famille ou entre amis ?</li>
            <li>Pour quelle association serais-tu prêt.e à travailler bénévolement et pourquoi ?</li>
        </ul>

        <h2>Une Initiative Évolutive</h2>
        <p>Au plus les causes indiquées ci-dessus évoluent, au plus l'énergie collective change. Les discussions et les projets fluctuent, la programmation des événements varie, le projet collectif prend de nouveaux tournants, etc.</p>

        <h2>La Source du 47</h2>
        <p>En plus de cela, j'ai pris conscience grâce aux apprentissages de Peter Koenig, que n'importe quelle initiative entrepreneuriale est toujours lancée par une personne source. Même si cette personne est énormément nourrie par l'intelligence collective, elle emmène inévitablement l'ensemble du groupe vers sa propre vision et mission, toutes deux évolutives.</p>

        <p>Au 47, la source c'est Duc Ha Duong, également fondateur de l'entreprise Officience, source de l'Opale en France et très actif dans le secteur associatif, de la Tech for Good et de l'économie sociale et solidaire.</p>

        <h2>Le But</h2>
        <p>Un de ses buts, c'est d'utiliser le 47 comme un terreau d'expérimentation pour faire société autrement. Une forme de laboratoire pour faire des expériences sur :</p>
        <ul>
            <li>Le futur du travail</li>
            <li>Les nouvelles manières d'être ensemble</li>
            <li>La permaculture humaine</li>
            <li>L'émergence de projets</li>
            <li>L'auto-gestion</li>
            <li>Et bien d'autres sujets</li>
        </ul>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_2_texte.jpeg", style: "max-width: 100%; height: auto;" %>
        </div>

        <div class="text-center mb-4">
          <h3 class="fw-bold">Concrètement : qu’est-ce qui se passe au 47 ?</h3>
        </div>
        <h2>Espace de travail</h2>
        <p>Beaucoup de personnes viennent en journée pour travailler, faire une réunion, ou prendre un café. Il y a 3 grandes salles de travail, des salles dédiées aux vidéoconférences et un salon.</p>

        <h2>Événements réguliers</h2>
        <p>Il y a de nombreux événements ayant lieu à l'appartement. Parmi les événements réguliers :</p>
        <ul>
            <li><strong>Share & Care</strong> : une lunch hebdomadaire les mardis (de 13 à 14h). C'est un peu comme un cercle de parole où chacun.e est invité.e à parler de ses enjeux du moment.</li>
            <li><strong>Help & Care</strong> : un atelier de co-développement mensuel, où plusieurs membres de la communauté se mettent au service d'un projet.</li>
            <li><strong>Stand & Care</strong> : un échange (dont la fréquence reste encore à définir) où l'on se réunit pour discuter des meilleures manières de prendre soin du lieu et du collectif.</li>
        </ul>

        <h2>Événements en soirée</h2>
        <p>Il y a également toute une série d'événements en soirée :</p>
        <ul>
            <li>Conférences</li>
            <li>Dîners</li>
            <li>Apéros</li>
            <li>Rassemblements de communautés</li>
        </ul>

        <h2>Privatisations</h2>
        <p>Certaines parties ou l'entièreté de l'espace sont également "privatisées", de temps en temps, pour recevoir :</p>
        <ul>
            <li>Formations</li>
            <li>Séminaires</li>
            <li>Animations</li>
        </ul>

        <h2>Activités diverses</h2>
        <p>Il n'y a pas de limite quant au type d'activités organisables au 47. On y a déjà vu :</p>
        <ul>
            <li>Soirées cabaret salon</li>
            <li>Ateliers yoga du rire</li>
            <li>Soirées dansantes</li>
        </ul>
        <p>En bref, on fait ce qu'on veut de l'espace, tant que cela ne froisse pas les parties prenantes.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_3_texte.jpeg", style: "max-width: 100%; height: auto;" %>
        </div>

        <h2>Qui peut venir au 47 ?</h2>
        <p>Pour venir, pas besoin d'avoir une invitation, un rendez-vous ou de participer à un événement. Les personnes qui viennent sont celles qui se sentent appelées par nos causes communes indiquées ci-dessus et nos valeurs communes indiquées ci-dessous.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_4_texte.png", style: "max-width: 100%; height: auto;" %>
        </div>

        <p>On retrouve typiquement des entrepreneurs et salariés engagés, parfois avec leurs équipes, des indépendants, souhaitant se mettre au service de la transition ou des personnes en transition personnelle ou professionnelle.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_5_texte.jpeg", style: "max-width: 100%; height: auto;" %>
        </div>

        <p>En clarifiant nos valeurs communes, une série de principes ont émergé.</p>
        <p>On y trouve notamment l'auto-gestion.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_6_texte.png", style: "max-width: 100%; height: auto;" %>
        </div>

        <h2>La Do-ocracy</h2>
        <p>Le 47, c'est un peu ce que certain.e.s pourraient appeler une "Do-ocracy".</p>
        <p>En bref, c'est celui ou celle qui fait, qui décide.</p>

        <h2>Le processus de décision</h2>
        <p>La seule obligation pour cette personne est d'effectuer un partage d'intention, ce qui implique de consulter :</p>
        <ul>
            <li>Les personnes dites "expertes" à propos du sujet en question</li>
            <li>Les personnes dites "impactées"</li>
        </ul>
        <p>Suite à cela, la personne est libre de prendre sa décision.</p>

        <h2>Structure organisationnelle</h2>
        <p>Il n'y a :</p>
        <ul>
            <li>Ni conseil d'administration</li>
            <li>Ni assemblées générales</li>
            <li>Pas d'employés</li>
            <li>Pas de managers ou de titres</li>
        </ul>

        <h2>Fonctionnement pratique</h2>
        <p>Simplement des personnes qui échangent dans des espaces :</p>
        <ul>
            <li>Dans le couloir entre 2 réunions</li>
            <li>Sur notre outil de communication Slack sur des canaux comme "47-général"</li>
        </ul>

        <h2>Processus de proposition</h2>
        <p>Ces personnes ont ensuite des idées, puis une d'entre elle finit par faire une proposition sous forme de partage d'intention (par exemple dans le canal "annonces-importantes" ou "47-general" ou "47-réservation-des-espaces") et s'il n'y a pas d'objections à sa proposition, la décision est prise, intégrant souvent quelques propositions d'amélioration collectées en chemin.</p>

        <h2>L'influence au sein du collectif</h2>
        <p>Pour finir, un autre point me semble essentiel à aborder pour comprendre comment les décisions se prennent au sein du collectif. Personnellement, je ne crois plus au mythe de "l'horizontalité" et de l'égalité totale entre tous les membres d'un groupe auto-géré. Nous sommes certes tous égaux en tant qu'être humains, pour autant, nous sommes nombreux au 47 à penser que certaines personnes ont plus d'influence que d'autres. Cela peut notamment s'expliquer par le fait de connaître plus de personnes au sein de la communauté et d'être perçu par les autres comme quelqu'un ayant plus d'expérience ou d'expertise sur nos sujets communs. Plus une personne gagne en "influence", plus elle sera capable de faire bouger des lignes au 47.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_7_texte.png", style: "max-width: 100%; height: auto;" %>
        </div>

        <p>Ci-dessus une capture d’écran de l’outil “Offinity Influence”, développé par Officience, un outil utilisé par une partie de la communauté du 47 et qui représente bien les dynamiques d’influence entre certains membres.</p>
        <p>Ensemble, on expérimente également la notion de “contribution juste”.</p>

        <div class="text-center mb-4 mt-4">
          <%= image_tag "image_8_texte.png", style: "max-width: 100%; height: auto;" %>
        </div>

        <h2>Politique de tarification</h2>
        <p>On nous demande souvent "Combien devrais-je payer pour un poste ?". La réponse qui ennuie parfois est qu'il n'y a pas de tarif prédéfini. Pas non plus de "tarif par soirée" ou de tarif "demi-journée atelier" pour des personnes souhaitant organiser un événement dans une ou plusieurs des pièces de l'appartement.</p>

        <h2>Critères de contribution</h2>
        <p>Chaque personne est plutôt invitée à considérer :</p>
        <ul>
            <li>L'utilisation finale qu'elle aura eu de l'espace</li>
            <li>Ses moyens financiers</li>
            <li>La valeur que l'espace lui apporte</li>
            <li>Ses contributions en flux non-marchands</li>
            <li>Son niveau d'adhésion au projet et aux causes</li>
            <li>Notre situation financière du moment</li>
        </ul>

        <h2>Processus de contribution</h2>
        <p>Suite à cette réflexion, la personne choisit son niveau de contribution et participe librement à la cagnotte.</p>
        <p>Le montant peut-être évolutif et il n'y a ni engagement, ni contrat. Tout se fait sur base de la confiance. Chaque contribution marchande est visible publiquement depuis notre outil "Open Collective" ainsi que dans le canal "participation-conscientes" de notre Slack.</p>

        <h2>Flux non-marchands</h2>
        <p>Chacun.e est également invité.e à contribuer sous forme de flux-non marchand, a minima en :</p>
        <ul>
            <li>Prenant soin du lieu</li>
            <li>Rangeant derrière soi</li>
            <li>Descendant les poubelles</li>
            <li>Étant à l'écoute des autres</li>
        </ul>

        <h2>Comment aller plus loin ?</h2>
        <p>Tu te sens aligné.e avec les causes et les valeurs mentionnées ci-dessus ? Si c'est le cas, et que tu souhaites venir nous rencontrer tu peux :</p>
        <ul>
            <li>Venir travailler une journée au 47 et voir comment tu t'y sens, ou simplement venir prendre un café/thé</li>
            <li>Venir rencontrer des personnes de la communauté lors de notre déjeuner hebdomadaire "Share & Care" (tous les mardi de 13 à 14h)</li>
            <li>Venir à un événement organisé au 47</li>
        </ul>

        <h2>Autres façons de contribuer</h2>
        <ul>
            <li>Tu souhaites organiser un événement au 47 ? Consulte <%= link_to 'ce lien', 'https://ecoworking47.notion.site/ecoworking47/Home-0ab0533c2360468faf229213eb57d2bb', target: :blank %> </li>
            <li>Tu souhaites contribuer financièrement ? Plus d'informations via <%= link_to 'ce lien', 'https://opencollective.com/le-47', target: :blank %></li>
            <li>Tu souhaites contribuer de manière non marchande ? Demande aux personnes venant régulièrement quels sont les besoins du moment !</li>
        </ul>


      </div>
    </div>
  </div>
</div>
